@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url(./assets/spacrecraft-custom-cursor.png), auto;

}


html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


:root {
    --col-number: 10
}

#logo {
    display: flex;
    width: calc(100% / 3);
    align-items: center;
    gap: 1em;
    font-size: 30px;
}

#logo img {
    max-width: 20%;
}

body {
    background-color: rgb(173, 216, 230)
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(173, 216, 230)
        /* padding-block: 3em; */
}

#trackscore {
    position: absolute;
    left: 5%;
    top: 20%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 15em;
    padding-block: 3em;
}

ul {
    list-style: none;
}



#grid {
    display: none;
    flex-wrap: wrap;
    width: 30%;
    position: relative;
    margin-block: 3em;
    background-color: darkgray;

}


.box {
    aspect-ratio: 1;
    width: calc(100% / var(--col-number));
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid gray;
    border-right: 4px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url(./assets/spacecraf-custom-pointer.png), auto;
}



#counter {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    gap: 3em;
    width: calc(100% / 3);
}


.fa-solid {
    margin-inline: 10px;
}

.active {
    background-color: darkgray;
    border: 1px solid gray;
}

header {
    display: flex;
    justify-content: space-between;
    padding-inline: 2em;
    padding-bottom: 3em;
    background-color: whitesmoke;
}

header #logo {
    width: calc(100% / 3);
}





select {
    font-size: 22px;
    padding-inline: 2em;
    padding-block: 0.5em;
    text-align: center;
    cursor: url(./assets/spacecraf-custom-pointer.png), auto;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;

}

select option {
    background-color: rgb(173, 216, 230);
    border: 0;
    border-radius: 20px;
}


.select label {
    font-size: 23px;
    font-weight: bold;
}

button {
    padding-inline: 2em;
    padding-block: 0.5em;
    font-size: 22px;
    cursor: url(./assets/spacecraf-custom-pointer.png), auto;
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent;
}

.select {
    display: flex;
    align-items: center;
    gap: 10px;
    width: calc(100% / 3);
    justify-content: flex-end;
    background-color: transparent;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

img {
    pointer-events: none;
}

.box span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box span.d-none {
    display: none;

}

#win,
#loss {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    /* transform: translate(-50%, -50%); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    opacity: 0.7;
    z-index: 100;
}

#win {
    border: 1px solid green;
    background-color: lightgreen;
    color: white;
}

#loss {
    border: 1px solid red;
    background-color: crimson;
    color: white;
}

#win img,
#loss img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -3;
}

#loss img {
    width: 100%;
    top: 45%;
}

#win img {
    width: 80%;
}


div.box {
    position: relative;
}

div.box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.victory-text {
    font-size: 16px;
    color: green;
    margin-left: 1em;
}

.defeat-text {
    font-size: 16px;
    color: red;
    margin-left: 1em;
}

#last_results {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1.5em;
}

div.box span {
    font-family: "Black Ops One", system-ui;
    font-weight: bold;
    font-size: 1.5em;
}

.x1 {
    color: blue;
}

.x2 {
    color: darkolivegreen;
}

.x3 {
    color: red;
}

.x4 {
    color: darkblue
}

.x5 {
    color: maroon;
}